:root {

--cor-primaria: #055a05;
--cor-secondaria: #f4a261;
--cor-destaque1: #264653;
--cor-destaque-2: #e9c46a;  
--font-estilo: "Times New Roman", "Georgia", serif;
--fonte-body: "Arial", Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-body);
    color: var(--cor-destaque1);
}

header, footer {
    width: 840px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 840px;
    margin: 0 auto;
   }

h1, h2 {
    font-family: var(--font-estilo);
    color:var(--cor-primaria);
    text-align: center;

}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
       
}

section img {
    display:flex
}

a {
    padding: 8px;
}

.redes-sociais a {
    text-decoration: none;
}

.hero {

    position: relative;
}

.hero img {

    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {

    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align:center;
    opacity: 0.7;
    background-color: var(--cor-destaque1);
    color: var(--cor-secondaria);

}

.hero article img {
    float: right;
    width: 125px;
}



.socialmedia a {

    text-decoration: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

nav li {
    
    flex: 1 1 auto;
}

.flex-container {
    border: 3px dashed darkcyan;
    background-color: var(--cor-destaque-2);
    display: flex;
    flex-direction: row;
}

.flex-item {
    width: 250px;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 0.5rem;
    background-color: var(--cor-destaque-2);
    color: #333;
}

.bloco_imagens {
    display: flex;
    justify-content: space-around;
    margin: 2px;
}

.bloco_imagens img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

.bloco_imagens figure {
    text-align: center;
    margin: 10px;
}

.conteudo-historia {
    display: flex;
    align-items: center;
    gap: 20px;
}

.conteudo-historia img {
    max-width: 150px;
    }

.conteudo-historia p {
    flex: 1;
}

.hero article {
    position: absolute;
    top: 100px;
    background-color: rgba(255 255 255 / 0.8);
}
